ul{
  list-style-stype: none;
  margin: 0;
  padding: 0;
}
body {
  background-color: lime;
}

h1 {
  color: darkblue;
  text-align: centre;
}

h1 {
  font-family: verdana;
  font-size: 35px;
  text-align: centre;
}

